@font-face {
    font-family: 'AppFont';
    src: url('../font/font.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: 'AppFont', sans-serif;
    min-height: 100dvh;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

img {
    display: block;
    max-width: 100%
}

a {
    color: inherit;
    text-decoration: none
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit
}

ul {
    list-style: none
}